.container {
  font-family: 'Outfit', sans-serif;
  padding-top: 0px;
}
.weather-app {
  display: block;
  margin: 20px auto;
  border: 1px solid #5f6769;
  border-radius: 10px;
  max-width: 800px;
  padding: 25px;
}
h1, #temp, #time {
  font-size: 45px !important;
}
h1 {
  margin: 0px !important;
  padding: 0 0 10px 0;
}
ul {
  display: inline-block;
  padding: 0 0 0 20px !important;
  margin-top: 15px !important;
}
li{
  list-style: none;
} 
li,.row,#current-location-button,#date {
  font-size: 18px;
}
li, #temp, #time {
  font-weight: 400;
}
span, #date, .night,#current-location-button {
  font-weight: 300;
}
#description {
  text-transform: capitalize;
}
form {
  padding: 15px 0;
}
span ,#celsius-link,
#fahrenheit-link, #date,.link {
  color: #ea7659;
}
button {
  transition: all 200ms ease-in-out;
  opacity: 5;
  border: 1px;
}
#icon {
  float: left;
}
#date, #time {
  text-align: right;
  padding-right: 60px;
}
#date {
  padding-top: 30px;
}
.week {
  padding: 60px 0 20px 0;
  text-align: center;
}
.night {
  font-size: 15px;
}
.link {
  margin-left: 160px;
}
#celsius-link.active,#fahrenheit-link.active  {
  text-decoration: none;
  cursor: default;
}
.theme {
  cursor: pointer;
  margin-top: 30px ;
  margin-left: 1040px;
  padding: 10px;
}

