

.container {
  font-family: 'Mukta', sans-serif;
  padding-top: 100px;
}
.weather-app {
  background-color: rgb(100%,100%,100%,0.7);
  display: block;
  margin: 0 auto;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  max-width: 800px;
  padding: 25px;
}
h1, #temp, #time,#celcius {
  color: #3c4245 !important;
  font-size: 45px !important;
}
.data, #current-location-button {
  color: #3c4245;
}
ul, #date, .week, .name {
  color: #5f6769;
}
h1 {
  margin: 0px !important;
  padding: 0 0 10px 0;
}
ul {
  display: inline-block;
  padding: 0 0 0 20px !important;
  margin-top: 15px !important;
}
li {
  list-style: none;
}
#description {
  text-transform: capitalize;
}
form {
  padding: 15px 0;
  background-color: rgb(100%, 100%, 100%, 0);
}
span, svg,#celsius-link,
#fahrenheit-link {
  color: #719192;
}
button {
  transition: all 200ms ease-in-out;
  opacity: 5;
  border: 1px;
  background-color: rgb(100%, 100%, 100%, 0);
}
#icon {
  float: left;
}
#date, #time {
  text-align: right;
  padding-right: 60px;
}
#date {
  padding-top: 30px;
}
.week {
  padding: 60px 0 20px 0;
  text-align: center;
}
.night {
  font-size: 13px;
}
.link {
  margin-left: 160px;
}
#celsius-link, #fahrenheit-link {
  text-decoration: none;
}
