body {
    background:white;
}
h1,#temp,#time,.data,#current-location-button,#celsius-link.active,
#fahrenheit-link.active {
    color: #3c4245 !important;
}
ul,.week,.name,svg {
    color: #5f6769;
}
button {
    background-color: rgb(100%, 100%, 100%, 0);
}